<!DOCTYPE html>
<html lang="en">
	<!-- head -->
	<%- include ("head.ejs") %>
	<!-- head -->
	<body>
		<!-- header -->
		<%- include ("header.ejs") %>
		<!-- header -->

		<!-- error -->
		<%- include ("error.ejs") %>
		<!-- error -->

		<!-- 佔位用 -->
		<div style="height: 300px;"></div>
		
		<!-- footer -->
		<%- include ("footer.ejs") %>
		<!-- footer -->
	</body>
</html>
